.main-body2 {
  padding: 90px 90px;
  text-align: center;
}

.main-body2 p {
  padding: 15px;
  font-size: 20px;
}

.main-body2 h2 {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 32px;
  letter-spacing: 0.05em;
}

.main-body2 img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.content-panel {
  margin-bottom: 50px;
}

.faq {
  text-align: center;
  padding-bottom: 80px;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-family: sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;

  color: rgb(255, 255, 255);
  background: rgb(0, 120, 167);

  cursor: pointer;
  border-bottom: 2px solid rgb(0, 188, 212);
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: rgb(0, 151, 167);
}

.lbl-toggle::before { /**this is for the wee cursor to go show there is more content hidden**/
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: rgb(0, 135, 160);
  border-bottom: 2px solid rgb(0, 188, 212);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
